In [1]:
import numpy as np
import pandas as pd

In [2]:
# s = pd.Series(data, index=index)
s = pd.Series(np.random.randn(5), index=['a','b','c','d','e'])

In [3]:
s

a    0.132117
b   -0.618187
c    1.324180
d    0.353841
e    0.738882
dtype: float64

In [4]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [5]:
pd.Series(np.random.randn(5))

0    0.280405
1   -0.596792
2    2.611299
3   -0.285447
4    0.932783
dtype: float64

In [6]:
d = {'b': 1, 'a': 0, 'c': 2}

In [7]:
pd.Series(d)

b    1
a    0
c    2
dtype: int64

In [8]:
s[0]

0.13211697977419148

In [9]:
s[:3]

a    0.132117
b   -0.618187
c    1.324180
dtype: float64

In [10]:
s[s > s.median()]

c    1.324180
e    0.738882
dtype: float64

In [11]:
s[[4, 3, 1]]

e    0.738882
d    0.353841
b   -0.618187
dtype: float64

In [12]:
s.to_numpy()

array([ 0.13211698, -0.61818709,  1.3241795 ,  0.35384116,  0.73888213])

In [13]:
s['a']

0.13211697977419148

In [14]:
s['e'] = 12.

In [15]:
s

a     0.132117
b    -0.618187
c     1.324180
d     0.353841
e    12.000000
dtype: float64

In [16]:
'e' in s

True

In [17]:
'f' in s

False

In [18]:
s.get('f', np.nan)

nan

In [19]:
s + s

a     0.264234
b    -1.236374
c     2.648359
d     0.707682
e    24.000000
dtype: float64

In [20]:
s * 2

a     0.264234
b    -1.236374
c     2.648359
d     0.707682
e    24.000000
dtype: float64

In [21]:
s = pd.Series(np.random.randn(5), name='something')

In [22]:
s

0   -0.293080
1    0.962290
2   -1.270118
3    1.014388
4   -0.486006
Name: something, dtype: float64

In [23]:
s2 = s.rename("different")

In [24]:
s2

0   -0.293080
1    0.962290
2   -1.270118
3    1.014388
4   -0.486006
Name: different, dtype: float64

In [25]:
index = pd.date_range('1/1/2000', periods=8)

In [28]:
s = pd.Series(np.random.randn(5), index=['a','b','c','d','e'])

In [29]:
df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=['A','B','C'])

In [30]:
long_series = pd.Series(np.random.randn(1000))

In [31]:
long_series.head()

0   -0.127373
1   -1.184078
2    0.979989
3    0.214213
4   -0.863455
dtype: float64

In [32]:
long_series.tail(3)

997    0.226735
998   -2.661328
999    0.232072
dtype: float64

In [33]:
df[:2]

                   A         B         C
2000-01-01  1.099929  0.897481 -0.333512
2000-01-02 -0.137254 -1.731490  0.645032

In [34]:
df.columns = [x.lower() for x in df.columns]

In [35]:
df

                   a         b         c
2000-01-01  1.099929  0.897481 -0.333512
2000-01-02 -0.137254 -1.731490  0.645032
2000-01-03 -0.972116 -1.602484  0.138755
2000-01-04  0.636410 -0.201370  1.904693
2000-01-05  0.066650  0.886045  0.598747
2000-01-06 -0.365246 -1.263160 -0.318473
2000-01-07 -0.505340  1.248969  0.291391
2000-01-08  1.470927  1.494403 -0.910919

In [36]:
s.array

<PandasArray>
[-0.31729252817795134, -0.04381393000196929,  -1.8566400289929739,
 -0.17497876716599878,   0.1350962902720261]
Length: 5, dtype: float64

In [37]:
s.index.array

<PandasArray>
['a', 'b', 'c', 'd', 'e']
Length: 5, dtype: object

In [40]:
s.to_numpy

<bound method IndexOpsMixin.to_numpy of a   -0.317293
b   -0.043814
c   -1.856640
d   -0.174979
e    0.135096
dtype: float64>

In [41]:
np.asarray(s)

array([-0.31729253, -0.04381393, -1.85664003, -0.17497877,  0.13509629])